<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Post stories from the best and worst of your life and choose for them to be read by the world or completley private as your own personal diary</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}